# [!NOTE]

llms:
    basic:
      base_url: https://dashscope.aliyuncs.com/compatible-mode/v1
      model: "qwen3-235b-a22b"
      api_key: your_api_key
      extra_body: {"enable_thinking": False}  # Model-specific additional parameters
